.headerx {
  padding: 30px 40px 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.logo {
  margin-right: 20px;
  margin-left: 5px;
  font-size: 15px;
}
.logo h1 {
  margin: 0;
}

.greet {
  margin-right: 20px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.addButton{
  background-color: rgba(181, 177, 177, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.3);
  height: 40px;
  width: auto;
  padding: 8px 12px;
  margin-right: 20px;
}
/* .addButton {
  height: 40px;
  width: auto;
  padding: 8px 12px;
  background: linear-gradient(to right, #6ab8e3, #96fbc4);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  width: 180px;
  font-size: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
} */

.logoutButton {
  background: linear-gradient(to right, #f2709c, #ff9472);
  width: 100px;
}

.addButton:hover {
  background-color: #ffecdf;
  color: black;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.5);
}

.right {
  white-space: nowrap;
}