.wrapper,
.wrapper .img-area {
  background-color: rgba(181, 177, 177, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.3);
  transition: all 0.3s ease;
}

.wrapper {
  position: relative;
  width: 280px;
  min-width: 280px;
  height: 380px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}

.inputfirst {
  margin-top: 25px;
}

.wrapper:hover {
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.5);
  transform: scale(1.05);
}

.wrapper .img-area {
  height: 150px;
  width: 150px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area .inner-area {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-radius: 20%;
}

.inner-area img {
  height: 100%;
  width: 100%;
  border-radius: 20%;
  object-fit: cover;
}
.wrapper .name {
  font-size: 23px;
  font-weight: 500;
  color: white;
  margin: 10px 0 5px 0;
}
.wrapper .about {
  color: #e4e4e4;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.wrapper .cardButtons {
  margin-bottom: 0px;
  margin-top: 20px;
  gap: 15px;
}
.cardButtons button {
  position: relative;
  display: inline-flex;

  text-decoration: none;
  border-radius: 50%;
  font-size: 30px;
}

.cardButtons button:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}

.cardButtons button:hover .icon {
  color: #000000;
}
.cardButtons button .icon {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
  line-height: 35px;
}

.wrapper .cardButtons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cardButtons button {
  background-color: rgba(181, 177, 177, 0.13);
  border-radius: 50%;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.3);
  height: 50px;
  width: 50px;
  padding: 8px 12px;
}

.infoValueInput,
.cardTitleInput {
  margin-left: 23px;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 22px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
}

.editButton {
  margin-top: 0;
}

.add {
  font-size: 100px;
  color: #ecf0f37f;
  transition: all 0.3s ease;
}

.msg {
  font-size: 20px;
  color: #ecf0f37f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 10px;
}

.wrapper:hover .add {
  color: #ecf0f3;
}
.wrapper:hover .msg {
  color: #ecf0f3;
}

.addcardw{
  cursor: pointer;
}