.wrapper,
.wrapper .img-area {
  background-color: rgba(181, 177, 177, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.3);
}

.wrapper {
  position: relative;
  width: 280px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.wrapper .img-area {
  height: 150px;
  width: 150px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-area .inner-area {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  border-radius: 20%;
}

.inner-area img {
  height: 100%;
  width: 100%;
  border-radius: 20%;
  object-fit: cover;
}
.wrapper .name {
  font-size: 23px;
  font-weight: 500;
  color: white;
  margin: 10px 0 5px 0;
}
.wrapper .about {
  color: #e4e4e4;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.wrapper .cardButtons {
  margin-bottom: 10px;
  margin-top: 20px;
}
.cardButtons button {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  font-size: 30px;
}
.cardButtons button:hover::before,
.wrapper .icon:hover::before,
.buttons button:hover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff, inset 3px 3px 5px #ceced1;
}
.cardButtons button:hover:before {
  z-index: -1;
  border-radius: 5px;
}

.buttons button:hover {
  color: black;
}
.cardButtons button .icon {
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 50px;
  line-height: 35px;
}
.cardButtons a:nth-last-child(1) i {
  color: #13d151;
}
.cardButtons a:nth-last-child(2) i {
  color: #e6ba12;
}
.cardButtons a:nth-last-child(3) i {
  color: #1da9e9;
}
.cardButtons a:nth-last-child(4) i {
  color: #f23400;
}

.wrapper .cardButtons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cardButtons button {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  color: #12162dda;
  background: linear-gradient(45deg, #ffc837, #ff8e00);
  font-size: 17px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  z-index: 4;
  bottom: 0;
}
.buttons button:first-child {
  margin-right: 10px;
}
.buttons button:last-child {
  margin-left: 10px;
}

.cardTitleInput{
  width: 80%!important;
}
.infoValueInput, .cardTitleInput{
  width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 22px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background: transparent;
  font-size: 15px;
}
